@if (!carService.hideSideMenu()) {
    <div class="fixed inset-0 bg-black/40 z-40 transition-opacity"></div>
  }
  
  <div class="fixed border-l-2 top-0 right-0 z-50 w-72 h-screen p-4 overflow-y-auto transition-transform duration-300 bg-white shadow-2xl"
       [class.translate-x-full]="carService.hideSideMenu()">
    
    <div class="flex justify-between items-center border-b pb-4">
      <p class="text-xl font-bold text-gray-800">Mi Carrito</p>
      <button (click)="carService.hideSideMenu.set(true)" class="hover:bg-gray-100 p-1 rounded-full text-gray-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  
    <div class="pt-4 flex flex-col h-[calc(100vh-120px)]">
      <div class="flex-1 overflow-y-auto gap-4 flex flex-col">
        @for (product of cart(); track product.id_compra) {
          <div class="flex justify-between items-center border-b pb-2">
            <div class="flex space-x-3 items-center">
              <img class="w-12 h-12 object-cover rounded shadow-sm" [src]="product.images[0]" [alt]="product.title">
              <div class="flex flex-col">
                <h3 class="text-sm font-bold text-gray-700">{{product.title}}</h3>
                <button (click)="eliminarProducto(product.id_compra)" class="text-left text-xs text-red-500 hover:underline">
                  Quitar
                </button>
              </div>
            </div>
            <p class="font-bold text-amber-600">${{product.price | number}}</p>
          </div>
        } @empty {
          <div class="flex flex-col items-center mt-20 text-gray-400">
            <svg class="w-16 h-16 mb-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"></path></svg>
            <p>Carrito vacío</p>
          </div>
        }
      </div>
  
      <div class="mt-auto border-t pt-4 bg-white">
        <div class="text-lg font-bold flex justify-between text-gray-800">
          <span>Total:</span>
          <span>${{total() | number}}</span>
        </div>
        <button class="w-full bg-blue-600 text-white py-3 rounded-lg mt-4 font-bold hover:bg-blue-700 transition-colors shadow-lg active:scale-95">
          Pagar pedido
        </button>
      </div>
    </div>
  </div>